In [42]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key
from IPython.display import display

In [43]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Mataura,NZ,2022-04-21 18:22:00,-46.1927,168.8643,46.47,98,100,7.45
1,1,Pokhara,NP,2022-04-21 18:22:01,28.2333,83.9833,67.95,75,85,4.41
2,2,Dikson,RU,2022-04-21 18:22:01,73.5069,80.5464,0.01,99,98,11.12
3,3,Lebu,CL,2022-04-21 18:22:02,-37.6167,-73.6500,54.23,98,100,17.60
4,4,Kodiak,US,2022-04-21 18:22:02,57.7900,-152.4072,38.71,75,75,13.80

In [44]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [45]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [46]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [47]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [48]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [49]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [50]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [51]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
9,9,Raton,US,2022-04-21 18:18:43,36.9034,-104.4391,76.05,18,0,16.11
12,12,Vaini,TO,2022-04-21 18:22:05,-21.2000,-175.2000,75.36,94,75,0.00
13,13,Caravelas,BR,2022-04-21 18:22:05,-17.7125,-39.2481,81.61,59,24,8.84
14,14,Butaritari,KI,2022-04-21 18:22:06,3.0707,172.7902,80.92,82,93,13.91
18,18,Arraial Do Cabo,BR,2022-04-21 18:22:08,-22.9661,-42.0278,78.76,65,40,6.91
19,19,Saint-Pierre,RE,2022-04-21 18:22:08,-21.3393,55.4781,78.48,83,20,19.57
23,23,Padang,ID,2022-04-21 18:22:10,-0.9492,100.3543,77.81,85,96,4.34
25,25,Sao Benedito Do Rio Preto,BR,2022-04-21 18:22:11,-3.3336,-43.5283,89.19,57,69,3.78
26,26,Puerto Ayora,EC,2022-04-21 18:22:11,-0.7393,-90.3518,80.56,80,42,8.68
28,28,Bengkulu,ID,2022-04-21 18:22:12,-3.8004,102.2655,77.18,88,100,6.33

In [52]:
preferred_cities_df.count()

City_ID       171
City          171
Country       170
Date          171
Lat           171
Lng           171
Max Temp      171
Humidity      171
Cloudiness    171
Wind Speed    171
dtype: int64

In [53]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                         City Country  Max Temp      Lat       Lng Hotel Name
9                       Raton      US     76.05  36.9034 -104.4391
12                      Vaini      TO     75.36 -21.2000 -175.2000
13                  Caravelas      BR     81.61 -17.7125  -39.2481
14                 Butaritari      KI     80.92   3.0707  172.7902
18            Arraial Do Cabo      BR     78.76 -22.9661  -42.0278
19               Saint-Pierre      RE     78.48 -21.3393   55.4781
23                     Padang      ID     77.81  -0.9492  100.3543
25  Sao Benedito Do Rio Preto      BR     89.19  -3.3336  -43.5283
26               Puerto Ayora      EC     80.56  -0.7393  -90.3518
28                   Bengkulu      ID     77.18  -3.8004  102.2655

In [58]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [59]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
9,Raton,US,76.05,36.9034,-104.4391,"Holiday Inn Express & Suites Raton, an IHG Hotel"
12,Vaini,TO,75.36,-21.2000,-175.2000,Keleti Beach Resort
13,Caravelas,BR,81.61,-17.7125,-39.2481,Pousada dos Navegantes
14,Butaritari,KI,80.92,3.0707,172.7902,Isles Sunset Lodge
18,Arraial Do Cabo,BR,78.76,-22.9661,-42.0278,Pousada Porto Praia
19,Saint-Pierre,RE,78.48,-21.3393,55.4781,Lindsey Hôtel
23,Padang,ID,77.81,-0.9492,100.3543,Mercure Padang
25,Sao Benedito Do Rio Preto,BR,89.19,-3.3336,-43.5283,João de Barro Hotel
26,Puerto Ayora,EC,80.56,-0.7393,-90.3518,Finch Bay Galapagos Hotel
28,Bengkulu,ID,77.18,-3.8004,102.2655,Grage Hotel Bengkulu

In [62]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [63]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [64]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))